<h1>Word Frequency Counter</h1>
<form action='/word_output'>
  <div class="form-group">
    <label for="sender">Enter text here</label>
    <input id="sender" name="paragraph" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sender">Enter a word to count how many times it is in your input</label>
    <input id="sender" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Go!</button>
</form>
